$primary-title-color: #d41443;
$secondary-title-color: #ffa5ba;
$primery-text-color: #000000;
$secondary-text-color: #907e82;
$white-color: #ffffff;
$hero-bcg-color: #ffb8ca;
$section-bcg-color: #fff5f6;
$yellow-bcg-color: #f0d1a5;
$green-bcg-color: #c2e297;
$comment-bcg-color: #fafafa;
$menu-bcg-color: #e17992;
$border: #e1e1e1;
$schedule-button: #d41342;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-DM-Sans: 'DM Sans', sans-serif;
$font-Titan-One: 'Titan One', sans-serif;
