<section class="page-hero">
    <div class="container hero">
        <div class="title-thumb">
            <h2 class="subtitle hero">ice cream made with</h2>
            <h1 class="title hero">passion</h1>
        </div>
        <div class="facilities-thumb">
            <ul class="facilities-list">
                <li class="facilities-item">
                    <h2 class="facilities-number subtitle">16</h2>
                    <p class="facilities-type">cafes</p>
                </li>
                <li class="facilities-item">
                    <h2 class="facilities-number subtitle">23</h2>
                    <p class="facilities-type">food trucks</p>
                </li>
            </ul>
        </div>
        <div class="button-thumb">
            <a href="#products" class="products link ">Products</a>
            <a href="#howitsmade" class="howitsmade link">How it's made?</a>
        </div> 
        <div class="description-thumb">
            <p class="description-text">Milk comes from a cow that has not been treated with antibiotics or hormones and at least 30% of diet from pasture</p>
            <a href="#" class="description-link">
                <svg class="icon-link">
                    <use href="./images/symbol-defs.svg#icon-arrow"></use>
                </svg>
            </a>
        </div>
        <div class="background-thumb">
            <div class="picture-icecream">
                <picture>
                    <source type="image/webp" srcset="./images/mobile/hero-mobile-icecream.webp 1x, 
                    ./images/mobile/hero-mobile-icecream@2x.webp 2x" media="(max-width: 767px)">
                    <source srcset="./images/mobile/hero-mobile-icecream.png 1x, 
                    ./images/mobile/hero-mobile-icecream@2x.png 2x" media="(max-width: 767px)">

                    <source type="image/webp" srcset="./images/tablet/hero-tablet-icecream.webp 1x, 
                    ./images/tablet/hero-tablet-icecream@2x.webp 2x" media="(max-width: 1279px)">
                    <source srcset="./images/tablet/hero-tablet-icecream.png 1x, 
                    ./images/tablet/hero-tablet-icecream@2x.png 2x" media="(max-width: 1279px)">

                    <source type="image/webp" srcset="./images/desktop/hero-desktop-icecream.webp 1x, 
                    ./images/desktop/hero-desktop-icecream@2x.webp 2x" media="(min-width: 1280px)">
                    <source srcset="./images/desktop/hero-desktop-icecream.png 1x, 
                    ./images/desktop/hero-desktop-icecream@2x.png 2x" media="(min-width: 1280px)">

                    <img src="./images/desktop/hero-desktop-icecream.png" alt="Ice-cream">
                </picture>
            </div>
            <div class="picture-milk">
                <picture>
                    <source type="image/webp" srcset="./images/tablet/hero-tablet-milk.webp 1x, 
                                            ./images/tablet/hero-tablet-milk@2x.webp 2x" media="(max-width: 1279px)">
                    <source srcset="./images/tablet/hero-tablet-milk.png 1x, 
                                            ./images/tablet/hero-tablet-milk@2x.png 2x" media="(max-width: 1279px)">
                
                    <source type="image/webp" srcset="./images/desktop/hero-desktop-milk.webp 1x, 
                                            ./images/desktop/hero-desktop-milk@2x.webp 2x" media="(min-width: 1280px)">
                    <source srcset="./images/desktop/hero-desktop-milk.png 1x, 
                                            ./images/desktop/hero-desktop-milk@2x.png 2x" media="(min-width: 1280px)">
                    
                    <img src="./images/desktop/hero-desktop-milk.png" alt="Ice-cream girl">
                </picture>
            </div>
            <div class="picture-icegirl">
                <picture>
                    <source type="image/webp" srcset="./images/tablet/hero-tablet-girl.webp 1x, 
                                ./images/tablet/hero-tablet-girl@2x.webp 2x" media="(max-width: 1279px)">
                    <source srcset="./images/tablet/hero-tablet-girl.png 1x, 
                                ./images/tablet/hero-tablet-girl@2x.png 2x" media="(max-width: 1279px)">
                
                    <source type="image/webp" srcset="./images/desktop/hero-desktop-girl.webp 1x, 
                                ./images/desktop/hero-desktop-girl@2x.webp 2x" media="(min-width: 1280px)">
                    <source srcset="./images/desktop/hero-desktop-girl.png 1x, 
                                ./images/desktop/hero-desktop-girl@2x.png 2x" media="(min-width: 1280px)">
                
                    <img src="./images/desktop/hero-desktop-girl.png" alt="Ice-cream girl">
                </picture>
            </div>
        </div>        
    </div>
</section>