<!-- Products section -->
<section class="section-products" id="products">
  <div class="container">
    <h3 class="subtitle">100% natural</h3>
    <h2 class="title" >products</h2>
    <ul class="products list">
      <!-- Ice Cream Card -->
      <li class="product-item">
        <picture class="product-image">
          <!-- Desktop -->
          <source
            srcset="
              ./images/desktop/products-desktop-ice-cream.webp    1x,
              ./images/desktop/products-desktop-ice-cream@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/desktop/products-desktop-ice-cream.png    1x,
              ./images/desktop/products-desktop-ice-cream@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./images/tablet/products-tablet-ice-cream.webp    1x,
              ./images/tablet/products-tablet-ice-cream@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/tablet/products-tablet-ice-cream.png    1x,
              ./images/tablet/products-tablet-ice-cream@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <!-- Mobile -->
          <source
            srcset="
              ./images/mobile/products-mobile-ice-cream.webp    1x,
              ./images/mobile/products-mobile-ice-cream@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/mobile/products-mobile-ice-cream.png    1x,
              ./images/mobile/products-mobile-ice-cream@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./images/tablet/products-tablet-ice-cream.png"
            alt="Pink ice cream with a strawberry in a cone"
          />
        </picture>
        <div class="product-thumb pink-bcg">
          <h4 class="product-name">ice cream</h4>
          <!-- Three circles decorative icon -->
          <ul class="cirles list">
            <li class="circles-item">
              <svg class="icon-circle" width="6px" height="6px">
                <circle r="3px" cx="3px" cy="3px" />
              </svg>
            </li>
            <li class="circles-item">
              <svg class="icon-circle" width="6px" height="6px">
                <circle r="3px" cx="3px" cy="3px" />
              </svg>
            </li>
            <li class="circles-item">
              <svg class="icon-circle" width="6px" height="6px">
                <circle r="3px" cx="3px" cy="3px" />
              </svg>
            </li>
          </ul>
          <p class="product-info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a
            href="https://www.facebook.com/groups/icecreampassion/permalink/285179149605089/"
            target="blank"
            class="link-thumb"
            aria-label="Facebook link to the post about our ice cream"
          >
            <svg class="link-icon" width="15px" height="15px">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <!-- Ice Coffee Card -->
      <li class="product-item">
        <picture class="product-image">
          <!-- Desktop -->
          <source
            srcset="
              ./images/desktop/products-desktop-ice-coffee.webp    1x,
              ./images/desktop/products-desktop-ice-coffee@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/desktop/products-desktop-ice-coffee.png    1x,
              ./images/desktop/products-desktop-ice-coffee@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./images/tablet/products-tablet-ice-coffee.webp    1x,
              ./images/tablet/products-tablet-ice-coffee@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/tablet/products-tablet-ice-coffee.png    1x,
              ./images/tablet/products-tablet-ice-coffee@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <!-- Mobile -->
          <source
            srcset="
              ./images/mobile/products-mobile-ice-coffee.webp    1x,
              ./images/mobile/products-mobile-ice-coffee@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/mobile/products-mobile-ice-coffee.png    1x,
              ./images/mobile/products-mobile-ice-coffee@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./images/tablet/products-tablet-ice-coffee.png"
            alt="Coffee with ice in a glass with a straw"
          />
        </picture>
        <div class="product-thumb yellow-bcg">
          <h4 class="product-name">ice coffee</h4>
          <!-- Three circles decorative icon -->
          <ul class="cirles list">
            <li class="circles-item">
              <svg class="icon-circle" width="6px" height="6px">
                <circle r="3px" cx="3px" cy="3px" />
              </svg>
            </li>
            <li class="circles-item">
              <svg class="icon-circle" width="6px" height="6px">
                <circle r="3px" cx="3px" cy="3px" />
              </svg>
            </li>
            <li class="circles-item">
              <svg class="icon-circle" width="6px" height="6px">
                <circle r="3px" cx="3px" cy="3px" />
              </svg>
            </li>
          </ul>
          <p class="product-info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a
            href="https://www.facebook.com/groups/icecreampassion/permalink/285195969603407/"
            target="blank"
            class="link-thumb"
            aria-label="Facebook link to the post about our ice coffee"
          >
            <svg class="link-icon" width="15px" height="15px">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <!-- Milkshake card -->
      <li class="product-item">
        <picture class="product-image">
          <!-- Desktop -->
          <source
            srcset="
              ./images/desktop/products-desktop-milkshake.webp    1x,
              ./images/desktop/products-desktop-milkshake@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/desktop/products-desktop-milkshake.png    1x,
              ./images/desktop/products-desktop-milkshake@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              ./images/tablet/products-tablet-milkshake.webp    1x,
              ./images/tablet/products-tablet-milkshake@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/tablet/products-tablet-milkshake.png    1x,
              ./images/tablet/products-tablet-milkshake@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <!-- Mobile -->
          <source
            srcset="
              ./images/mobile/products-mobile-milkshake.webp    1x,
              ./images/mobile/products-mobile-milkshake@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/mobile/products-mobile-milkshake.png    1x,
              ./images/mobile/products-mobile-milkshake@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="./images/tablet/products-tablet-milkshake.png"
            alt="A glass of chocolate milkshake with a straw with chocolate cookies and cream on top"
          />
        </picture>
        <div class="product-thumb green-bcg">
          <h4 class="product-name">milkshakes</h4>
          <!-- Three circles decorative icon -->
          <ul class="cirles list">
            <li class="circles-item">
              <svg class="icon-circle" width="6px" height="6px">
                <circle r="3px" cx="3px" cy="3px" />
              </svg>
            </li>
            <li class="circles-item">
              <svg class="icon-circle" width="6px" height="6px">
                <circle r="3px" cx="3px" cy="3px" />
              </svg>
            </li>
            <li class="circles-item">
              <svg class="icon-circle" width="6px" height="6px">
                <circle r="3px" cx="3px" cy="3px" />
              </svg>
            </li>
          </ul>
          <p class="product-info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a
            href="https://www.facebook.com/groups/icecreampassion/permalink/285197796269891/"
            target="blank"
            class="link-thumb"
            aria-label="Facebook link to the post about our milkshakes"
          >
            <svg class="link-icon" width="15px" height="15px">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
