<section class="gallery">
  <div class="container">
    <div class="for-gallery">
      <picture>
        <source
          srcset="./images/desktop/gallery-desktop-gallery.png 1x, ./images/desktop/gallery-desktop-gallery@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/tablet/gallery-tablet-gallery.png 1x, ./images/tablet/gallery-tablet-gallery@2x.png 2x"
          media="(min-width: 768px)"
          />
        <source 
          srcset="./images/mobile/gallery-mobile-gallery.png 1x, ./images/mobile/gallery-mobile-gallery@2x.png 2x" 
          media="(max-width: 767px)" 
        />
        <img class="icecream-gallery" src="./images/mobile/gallery-mobile-gallery.png" alt="gallery of icecream">
      </picture>
    </div>

    <div class="comments-list" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
      <div class="comments-area">
        <div class="for-commentator">
          <picture>
            <source srcset="./images/mobile/gallery-mobile-emilia.png 1x, ./images/mobile/gallery-mobile-emilia@2x.png 2x"
              media="(max-width: 767px)" />
            <img class="commentator-picture" src="./images/mobile/gallery-mobile-emilia.png" alt="Emily, Los Angeles">
          </picture>
        </div>

        <div class="for-comments">
          <svg class="quotes">
            <use href="./images/symbol-defs.svg#icon-quotes"></use>
          </svg>
          <p class="comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
            quam
            nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="ellipses">
          <div class="ellipse ellipse-left"></div>
          <div class="ellipse ellipse-center"></div>
          <div class="ellipse ellipse-right"></div>
        </div>

        <p class="commentator">Emily, Los Angeles</p>
      </div>
      <div class="comments-area">
        <div class="for-commentator">
          <picture>
            <source srcset="./images/mobile/gallery-mobile-weronika.png 1x, ./images/mobile/gallery-mobile-weronika@2x.png 2x"
              media="(max-width: 767px)" />
            <img class="commentator-picture" src="./images/mobile/gallery-mobile-weronika.png" alt="Emily, Los Angeles">
          </picture>
        </div>

        <div class="for-comments">
          <svg class="quotes">
            <use href="./images/symbol-defs.svg#icon-quotes"></use>
          </svg>
          <p class="comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
            quam
            nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="ellipses">
          <div class="ellipse ellipse-left"></div>
          <div class="ellipse ellipse-center"></div>
          <div class="ellipse ellipse-right"></div>
        </div>

        <p class="commentator">Veronica, San Francisco</p>
      </div>
      <div class="comments-area">
        <div class="for-commentator">
          <picture>
            <source srcset="./images/mobile/gallery-mobile-martyna.png 1x, ./images/mobile/gallery-mobile-martyna@2x.png 2x"
              media="(max-width: 767px)" />
            <img class="commentator-picture" src="./images/mobile/gallery-mobile-martyna.png" alt="Emily, Los Angeles">
          </picture>
        </div>

        <div class="for-comments">
          <svg class="quotes">
            <use href="./images/symbol-defs.svg#icon-quotes"></use>
          </svg>
          <p class="comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
            quam
            nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="ellipses">
          <div class="ellipse"></div>
          <div class="ellipse"></div>
          <div class="ellipse"></div>
        </div>

        <p class="commentator">Marti, New York</p>
      </div>
    </div>

  </div>
</section>