 <header class="header">
        <div class="container main-header">
            <nav class="main-nav">
                <a class="logo" href="./index.html">
                    <img class="logo-img" src="./images/logo/logo.png" alt="logo">
                    Icecream
                </a>
                <button type="button" class="header-mobile-menu" aria-controls="menu-container" aria-expanded="false"
                    data-menu-button>
                    <svg class="menu-button" aria-label="переключатель мобального меню" width="20" height="12">
                        <use href="./images/symbol-defs.svg#icon-burger"></use>
                    </svg>
                </button>
                <div class="menu-container" id="menu-container" data-menu>
                    <button type="button" class="header-mobile-menu menu-close" aria-controls="main-nav"
                        aria-expanded="false" data-menu-button2>
                        <svg class="menu-button" width="14" height="14" aria-label="переключатель мобального меню">
                            <use class="icon-cross" href="./images/symbol-defs.svg#icon-close"></use>
                        </svg>
                    </button>
                    <button type="button" class="button-buy">
                        Buy now
                        <svg class="header-button-icon" width="20" height="20">
                            <use href="./images/symbol-defs.svg#icon-buttom">
                            </use>
                        </svg>
                    </button>
                    <ul class="navigation">
                        <li class="item"><a class="link" href="https://darya425.github.io/ice-icecream/">Home</a></li>
                        <li class="item"><a class="link" href="https://www.facebook.com/groups/icecreampassion">About us</a></li>
                        <li class="item"><a class="link" href="#howitsmade">How it’s made?</a></li>
                        <li class="item"><a class="link" href="#products">Our products</a></li>
                        <li class="item"><a class="link" href="#schedule">Contact</a></li>
                    </ul>
                </div>
                <button type="button" class="additional-button  ">
                    Buy now
                    <svg class="header-button-icon" width="20" height="25">
                        <use href="./images/symbol-defs.svg#icon-buttom">
                        </use>
                    </svg>
                </button>
            </nav>
        </div>
</header>

