<section class="page-made" id="howitsmade">
  <div class="text-background">
    <img src="./images/desktop/made-desktop-milk1.png" alt="milk">
    <img src="./images/desktop/made-desktop-milk2.png" alt="milk">
  </div>
  <div class="container">
    
    <h3 class="subtitle">tradition and love</h3>
    <h2 class="title">how it’s made?</h2>
    <div class="made">
      <div class="thumb">
        <picture>
            <!-- Desktop -->
            <source
              srcset="
                ./images/desktop/made-desktop-cow.webp    1x,
                ./images/desktop/made-desktop-cow@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/desktop/made-desktop-cow.png    1x,
                ./images/desktop/made-desktop-cow@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1280px)"
            />
            <!-- Tablet -->
            <source
              srcset="
                ./images/tablet/made-tablet-cow.webp    1x,
                ./images/tablet/made-tablet-cow@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/tablet/made-tablet-cow.png    1x,
                ./images/tablet/made-tablet-cow@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />
            <!-- Mobile -->
            <source
              srcset="
                ./images/mobile/made-mobile-cow.webp    1x,
                ./images/mobile/made-mobile-cow@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/mobile/made-mobile-cow.png    1x,
                ./images/mobile/made-mobile-cow@2x.png 2x
              "
              type="image/png"
              media="(max-width: 767px)"
            />
            <img  class="made-img" src="./images/desktop/made-desktop-cow.png" alt="cow and milk">
          </picture>
      </div>
          <div class="made-paragraph">
            <div class="made-text">
                <p class="made-text-primary">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="made-text-secondary">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                <p class="made-text-secondary">Aliquam erat volutpat. Aenean accumsan.</p>
              </div>
            <div  class="made-button">
                <a href="https://www.facebook.com/groups/icecreampassion/permalink/285177492938588/" class="button-link">
                    <span>Read more</span>
                    <svg class="button-icon" width="18" height="22">
                        <use href="./images/symbol-defs.svg#icon-buttom"></use>
                    </svg>
                </a>
            </div>
          </div>
    </div>
    <ul class="made-features-list">
        <li class="made-features-item">
            <picture>
              <source
                srcset="
                  ./images/desktop/made-desktop-icon1.png    1x,
                  ./images/desktop/made-desktop-icon1@2x.png 2x
                "
                type="image/png"
              />
              <img src="./images/desktop/made-desktop-icon1.png" alt="icon1">
            </picture>
            <span>721</span>
            <p class="features-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="made-features-item">
          <picture>
            <f
              srcset="
                ./images/desktop/made-desktop-icon2.png    1x,
                ./images/desktop/made-desktop-icon2@2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/desktop/made-desktop-icon2.png" alt="icon2">
          </picture>
            <span>16kg</span>
            <p class="features-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="made-features-item">
          <picture>
            <source
              srcset="
                ./images/desktop/made-desktop-icon3.png    1x,
                ./images/desktop/made-desktop-icon3@2x.png 2x
              "
              type="image/png"
            />
            <img src="./images/desktop/made-desktop-icon3.png" alt="icon2">
          </picture>
            <span>84</span>
            <p class="features-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>  
  </div>
</section>

