<section class="schedule" id="schedule">
  <h2 class="visually-hidden">Schedule</h2>
  <div class="schedule-wrapper container">
    <ul class="schedule-list">
      <li class="schedule item">
        <div class="schedule-text">
          <h4 class="selling-place">CAFE</h4>
          <p class="schedule-city">Chicago</p>
          <p class="schedule-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <p class="working-days start">Monday – Friday</p>
          <p class="opening-hours start">06:00 AM - 10:00 PM</p>
          <p class="working-days">Saturday – Sunday</p>
          <p class="opening-hours end">08:00 AM - 16:00 PM</p>
          <ul class="contact-info">
            <li class="item">
              <a class="item" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="item">
              <a class="item" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="schedule item">
        <div class="schedule-text">
          <h4 class="selling-place">FOOD TRUCK</h4>
          <p class="schedule-city">Los Angeles</p>
          <p class="schedule-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <p class="working-days start">Monday – Friday</p>
          <p class="opening-hours start">06:00 AM - 10:00 PM</p>
          <p class="working-days">Saturday – Sunday</p>
          <p class="opening-hours end">08:00 AM - 16:00 PM</p>
          <ul class="contact-info">
            <li class="item">
              <a class="item" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="item">
              <a class="item" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="schedule item">
        <div class="schedule-text">
          <h4 class="selling-place">CAFE</h4>
          <p class="schedule-city">New York</p>
          <p class="schedule-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <p class="working-days start">Monday – Friday</p>
          <p class="opening-hours start">06:00 AM - 10:00 PM</p>
          <p class="working-days">Saturday – Sunday</p>
          <p class="opening-hours end">08:00 AM - 16:00 PM</p>
          <ul class="contact-info">
            <li class="item">
              <a class="item" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="item">
              <a class="item" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="schedule-buttons">
        <li class="button-location">
        <a class="link-location" aria-label="Our Locations" href="#schedule"
          ><span class="text-location">Our Locations</span>
          <svg class="schedule-arrow" width="18" height="22">
            <use href="./images/symbol-defs.svg#icon-buttom"></use>
          </svg>
        </a>
      </li>
        <li class="button-franchise">
        <a class="link-franchise" aria-label="Franchise" href="#schedule"
          ><span>Franchise</span>
          <svg class="schedule-arrow" width="18" height="22">
            <use href="./images/symbol-defs.svg#icon-button"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
