<footer class="footer">
    <div class="container">
    <div class="footer-main">
        <div class="footer-main-title">
    <h3 class="footer-subtitle">homemade ice cream made</h3>
    <h2 class="footer-title">with passion</h2>
        </div>
        <div class="footer-data">
    <ul class="socialmedia">
        <li class="social">
        <a class="link-github" href="https://github.com/darya425/icecream">
            <svg class="item-github" width="19" height="19">
            <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
        </a>
        </li>
        <li class="social">
        <a class="link-telegram" href="https://t.me/s/icecream_passion">
            <svg class="item-telegram" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
        </a>
        </li>
        <li class="social">
        <a class="link-facebook" href="https://www.facebook.com/groups/icecreampassion">
            <svg class="item-facebook" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
        </a>
        </li>
    </ul>
    <div class="footer-contacts">
    <span class="footer-invite">Feel free to contact</span>
    <a class="footer-tel" href="tel:+61(0)383766284">
    +61 (0) 383 766 284</a>
    </div>
    </div>
    </div>
</div>
    <div class="copyright">
    <p class="copyright-text">&copy; 2021-<a class="copyright-link" href="https://darya425.github.io/ice-icecream/">IceCream</a>. All Rights Reserved.</p>
    </div>
    </footer>
    