// Standard settings

body {
  @media screen and (max-width: $max-mobile) {
    padding-top: 60px;
  }

  @media screen and (min-width: $tablet) {
    overflow-x: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title {
  margin: 0;

  font-family: $font-Titan-One;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: $max-mobile) {
    @include font-data(34px, $primary-title-color, 400, 1.15, 0.04em);
  }

  @media screen and (min-width: $tablet) {
    @include font-data(48px, $primary-title-color, 400, 1.15, 0.04em);
  }

  @media screen and (min-width: $desktop) {
    @include font-data(58px, $primary-title-color, 400, 1.14, 0.04em);
  }
}

.subtitle {
  margin: 0;

  font-family: $font-Titan-One;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: $max-mobile) {
    @include font-data(18px, $secondary-title-color, 400, 1.17, 0.04em);
  }

  @media screen and (min-width: $tablet) {
    @include font-data(26px, $secondary-title-color, 400, 1.15, 0.04em);
  }

  @media screen and (min-width: $desktop) {
    @include font-data(30px, $secondary-title-color, 400, 1.14, 0.04em);
  }
}

.container {
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 115px;
    padding-right: 115px;
  }
}
